/* Variables */

:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-background: #F1F5F7;
    --basic-lightgrey: #C5C5C5;
    --basic-grey: #32425C;
    --basic-darkgrey: #293449;
    --basic-green: #63A63E;
    --basic-red: #EE3643;
  
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-lightgreen: #8ED78F;
    --special-lightyellow: #FFD180;
    --error: #BA2732;
    --warning: #FFBF47;
    --success: #5FBB2D;
    --additionalgrey:#EAEAEA;
  }

  /* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans","Cuprum," Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
  }


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color:var(--basic-background);
}

.header-top {
  color:var(--basic-white);
  background-color:var(--basic-darkgrey);
  font-size: 18px;
  line-height: 24px;
}

.main-navigation {
  color:var(--basic-white);
  background-color:var(--basic-grey);
  font-size: 18px;
  line-height: 24px;
}

.site-navigation,
.login {
  list-style: none;
}

.site-navigation a ,
.header-top a {
  color: var(--basic-white);
  font-family: Cuprum, Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}

 .address {
  color: var(--basic-grey);
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}  

.phone {
  color:var(--basic-red);
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  }
  

.header-middle h1 {
  color: var(--basic-red);
  font-family: Cuprum, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

  

.login a { 
  color:var(--basic-black);
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-white);
  }

  .about-company h3, 
  .contacts h2 {
    font-family: Cuprum, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
  }


    .about-company p ,
    .contacts p {
      font-family: PT Sans, Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 24px;
    }

    .about-company li {
      font-family: Cuprum, Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
    }

    .about-company a ,
    .contacts a {
       color:var(--basic-white);
      font-family: Cuprum, Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      width:220px;
      height:38px;
      background-color: var(--basic-red);
      padding:10px 40px;
    }

    .main-footer {
      background-color:var(--basic-grey);
    }

    .footer-bottom {
      background-color:var(--basic-darkgrey);
    }

    .footer-contacts {
      color:var(--basic-white);
      font-family: Cuprum, Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
    }

      .footer-navigation-top,
      .footer-navigation-bottom {
        list-style:none;
      }

      .footer-navigation-top a {
        color:var(--basic-white);
        font-family: Cuprum, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
      }


      .footer-navigation-bottom a {
        color:var(--special-lightyellow);
        font-family: Cuprum, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
      }

        .footer-bottom p {
           color:var(--basic-white);
          font-family: Cuprum, Arial, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 18px;
        }
        
        .footer-social {
          list-style: none;
        }

        .footer-feedback a {
          color:var(--special-lightyellow);
        }



       
 /*  Стили для каталога  */


.breadcrumbs {
  list-style: none;
}

.breadcrumbs a,
.current-breadcrumbs {
  color: var(--basic-black);
  font-family: PT Sans, Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
}




